section.section.contacts#contacts
  .container.contacts__container
    .contacts__info
      h3.contacts__subtitle.subtitle Шоурум &#8470;4
      address.contacts__address Леонтьевский переулок, дом 5/1 
    form.contacts__form.form(action="https://jsonplaceholder.typicode.com/posts" enctype="multipart/form-data" method="POST" data-message="form" data-ajax="1") 
      label.form__line.contacts__form-line
        //- span.visually-hidden Введите имя
        input.input.contacts__form-input.req#name(
          type="text"
          name="user_name"
          data-value="Имя*"
          data-error="Недопустимый формат"
          autocomplete="off"
          aria-label="Введите имя")
      label.form__line.contacts__form-line
        //- span.visually-hidden Введите телефон
        input.input.contacts__form-input.phone.req#phone(
          type="tel"
          name="user_phone"
          data-value="Телефон*"
          data-error="Недопустимый формат"
          autocomplete="off"
          aria-label="Введите телефон")
      label.form__line.contacts__form-line
        button.btn-reset.btn.btn_submit.form__btn.contacts__form-btn(type="submit") Заказать обратный звонок
    .contacts__social 
      h3.contacts__subtitle.subtitle Связаться в&nbsp;один клик
      ul.contacts__social-list 
        li.contacts__social-item 
          a.contacts__social-link(href="#") 
            img.img(src="@img/icons/whatsappicon.svg" alt="WhatsApp")
        li.contacts__social-item 
          a.contacts__social-link(href="#") 
            img.img(src="@img/icons/telegramicon.svg" alt="Telegram")

.map#map