- var places = ['Музей им. Щусева', 'MMOMA', 'Еврейский музей', 'MMAM', 'Третьяковка на&nbsp;Крымском валу']
- var dates = ['с\&nbsp;20\&nbsp;марта по\&nbsp;30\&nbsp;апреля', '24\&nbsp;марта 19:00', 'с\&nbsp;31\&nbsp;марта по\&nbsp;21\&nbsp;апреля', 'с\&nbsp;8\&nbsp;апреля по\&nbsp;20\&nbsp;мая', 'с\&nbsp;30\&nbsp;марта по\&nbsp;30\&nbsp;апреля']
- var titles = ['Книжная гравюра в\&nbsp;живом восприятии', '&laquo;Открытая дискуссия&raquo;. Дмитрий Петров и\&nbsp;Сергей Ильин', 'Выставка &laquo;Формация 2020&raquo;', 'Джон Винзор. Фотографии из\&nbsp;серии &laquo;Метафора&raquo;', 'XXIV Международная биеннале молодого искусства']
- var descr = ['Один из\&nbsp;ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили его брат Давид и\&nbsp;сын\&nbsp;Ридольфо', 'Высокий уровень вовлечения представителей целевой аудитории является чётким доказательством простого факта', 'Идейные соображения высшего порядка, а\&nbsp;также современная методология разработки играет важную роль в\&nbsp;формировании глубокомысленных рассуждений', 'Один из\&nbsp;ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили его брат Давид и\&nbsp;сын Ридольфо', 'Внезапно, реплицированные с\&nbsp;зарубежных источников, современные исследования']
- var ariaTitles = ['Книжная гравюра в живом восприятии', 'Открытая дискуссия Дмитрий Петров и Сергей Ильин.', 'Выставка Формация 2020', 'Джон Винзор. Фотографии из серии Метафора', 'XXIV Международная биеннале молодого искусства']

section.section.events#events
  .container.events__container 
    h2.title.events__title События
    .events__content 
      .events__button-prev.swiper-button-prev.swiper-button.swiper-button_light
      .events__button-next.swiper-button-next.swiper-button.swiper-button_light
      .events-slider.swiper 
        ul.events-slider__wrapper.swiper-wrapper
          - var n = 0 
          each val, ind in titles
            li.events-slider__item.swiper-slide
              article.events-slider__article
                .events-slider__item-ava 
                  - n++
                  picture.events-slider__item-picture 
                    source(srcset="@img/events/" + n + "/events-d@2x.webp" media="(min-resolution: 1.8dppx) and (min-width: 1024px)")
                    source(srcset="@img/events/" + n + "/events-d@2x.jpg" media="(min-resolution: 1.8dppx) and (min-width: 1024px)")
                    source(srcset="@img/events/" + n + "/events-d@1x.webp" media="(min-width: 1024px)")
                    source(srcset="@img/events/" + n + "/events-d@1x.jpg" media="(min-width: 1024px)")
                    source(srcset="@img/events/" + n + "/events-t@2x.webp" media="(min-resolution: 1.8dppx) and (min-width: 768px)")
                    source(srcset="@img/events/" + n + "/events-t@2x.jpg" media="(min-resolution: 1.8dppx) and (min-width: 768px)")
                    source(srcset="@img/events/" + n + "/events-t@1x.webp" media="(min-width: 768px)")
                    source(srcset="@img/events/" + n + "/events-t@1x.jpg" media="(min-width: 768px)")
                    source(srcset="@img/events/" + n + "/events-s@2x.webp" media="(min-resolution: 1.8dppx) and (min-width: 480px)")
                    source(srcset="@img/events/" + n + "/events-s@2x.jpg" media="(min-resolution: 1.8dppx) and (min-width: 480px)")
                    source(srcset="@img/events/" + n + "/events-s@1x.webp" media="(min-width: 480px)")
                    source(srcset="@img/events/" + n + "/events-s@1x.jpg" media="(min-width: 480px)")
                    source(srcset="@img/events/" + n + "/events-m@2x.webp" media="(min-resolution: 1.8dppx) and (max-width: 480px)")
                    source(srcset="@img/events/" + n + "/events-m@2x.jpg" media="(min-resolution: 1.8dppx) and (max-width: 480px)")
                    source(srcset="@img/events/" + n + "/events-m@1x.webp" media="(max-width: 480px)") 
                    source(srcset="@img/events/" + n + "/events-m@1x.jpg" media="(max-width: 480px)") 
                    img.img.events-slider__item-img(src="@img/events/" + n + "/events-d@1x.jpg", alt=`${val}`)
                .events-slider__item-content 
                  .events-slider__info
                    span.events-slider__place !{places[ind]}
                    .events-slider__time !{dates[ind]}
                  h3.events-slider__title.subtitle !{titles[ind]}
                  p.events-slider__text.text !{descr[ind]}
                  a.events-slider__link.link.link_more(href="#" aria-label="Подробнее о событии " + ariaTitles[ind]) Подробнее
      .swiper-pagination.events__pagination